body {
	margin: 1em;
	padding-bottom: 60px;
}

h1 {
	font-weight: bold;
}

h1:before {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	background: url("../img/HoneyPot.png") no-repeat 0 0;
	background-size: 100%;
	content: "";
}

h1:after {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-left: 10px;
	background: url("../img/HoneyPot.png") no-repeat 0 0;
	background-size: 100%;
	content: "";
}

.centered {
	text-align: center;
}